body {
    text-align: center;
}

input { 
    margin-bottom: 10px; 
}

label, input {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
    background-color: #2fad7b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2c9c6f;
  }
  
  fieldset {
    width: 50px;
    margin-left: 525px;
    margin-top: 100px;
    border-color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
  }

  .error {color: #FF0000;}

  .errorplaats {
    height: 45px;
  }